* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  background-color: #022A72;
}

.container {
  width: 70%;
  margin: 40px auto;
  height: 300px;
  border: 1px solid black;
}

.w100{
  width: 100%;
}

.hide {
  display: none;
}



